access_code: //String that authenticates users to the app
video_root: //Directory where media will be stored and pulled from
authenticated_code: //String that is used to let the server know a user is authenticated